.register-container {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 5rem;
  padding: 5rem 8.9rem;
  height: 40rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.register-form input {
  padding: .5rem;
}

.match-password-msg {
  margin: 0rem;
}

#password-requirements-container {
  text-align: left;
  font-size: 1.1rem;
  margin-top: 1rem;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -10px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -10px;
  content: "✖";
}