.main-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: #1f1f23;
  overflow-y: auto;
  overflow-x: hidden;
  height: 93vh;
  color: white;
  font-size: 18px;
}

.giveaways-header {
  padding-left: 3rem;
}

.give-aways-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding: 3rem;
  margin-bottom: 8rem;
}

.give-away {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #28282c;
  padding: 2rem;
  border-radius: 8px;
  box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 218px;
  height: auto;
}

.title-container p {
  margin-top: 0px;
  margin-bottom: 20px;
}

.give-away-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  -webkit-appearance: none;
}

::-webkit-progress-bar {
  background-color: white;
  height: .5rem;
  border-radius: 5px;
}

::-webkit-progress-value {
  background-color: green;
  border-radius: 5px;
}

.giveaway-url {
  transition: 0.4s;
}

.giveaway-url:hover {
  color: white;
}