.game-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
  width: 80%;
  background-color: #1f1f23;
  overflow-y: auto;
  overflow-x: hidden;
  height: 93vh;
  padding: 1rem 3.5rem;
  color: white;
  font-size: 18px;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.game-img {
  margin: 5px;
}

.game-info p {
  margin: 2px;
  font-size: 15px;
  color: #6b6b79;
}

.play-button {
  padding: .6rem;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #dfbb60;
  color: #1f1f23;
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5rem;
  cursor: pointer;
}

a {
  color: #dfbb60;
}

a:hover {
  color: white;
}

.game-contents-container {
  display: flex;
  gap: 4rem;
}

.game-description {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.screenshots-container {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #3a3a3f;
}

.game-screenshots {
  height: 9rem;
  width: 100%;
  border-radius: 5px;
}

.more-game-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem;
  font-size: 16px;
}

.more-game-info h3 {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #3a3a3f;
}