#happy {
  font-size: 2rem;
  color: #1a7021;
  margin: 5px;
}

#mad {
  font-size: 2rem;
  color: #7e1717;
  margin: 5px;
}

.recommend-progress-bar {
  -webkit-appearance: none;
  margin-bottom: 5px;
}

.recommend-progress-bar::-webkit-progress-bar {
  background-color: #7e1717;
  height: .5rem;
  border-radius: 0px;
}

.recommend-progress-bar::-webkit-progress-value {
  background-color: green;
  border-radius: 0px;
}

.review-header {
  color: white;
  font-size: 1.8rem;
  letter-spacing: 2px;
  margin: 5px;
  background-color: transparent;
  border-bottom: solid 3px #28282c;
  z-index: 2;
}

.radio-button {
  margin: 10px;
  padding: 0px;
  width: 10px;
}
