@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

body {
  background-color: grey;
  font-family: 'Kanit', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 80%;
  background-color: #1f1f23
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.article-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  width: 100%;
  padding: 0px;
}

.article-img {
  width: 60%;
  margin-top: 2rem;
}

.article-contents {
  padding: 1rem;
  text-align: center;

}

.headline {
  color: white;
  padding: 0px;
}

.description {
  color: white;
}