.profile-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: #1f1f23;
  margin: 50px;
  height: 60vh;
  width: 30rem;
  padding: 4rem;
  border-radius: 10px;
}

.profile-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-username {
  color: white;
  font-size: 40px;
  margin: 10px;
}

.profile-pic-container {
  display: flex;
  align-items: center;
  width: 20%;
  position: relative;
  width: 230px;
  height: 230px;
}

.profile-pic {
  object-fit: cover;
  width: 230px;
  height: 230px;
  border-radius: 50%;
}

.overlay {
  display: flex;
  align-items: center;
  position: absolute;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
}

.overlay:hover {
  background-color: #1f1f2385;
}

.overlay:hover:after {
  color: white;
  content: "Change Profile Pic";
  position: absolute;
  width: 100%;
  text-align: center;
}

.save-btn-container {
  text-align: center;
  width: 230px;
}

.file-name {
  color: #01b30a;
}

.save-btn {
  font-family: Kanit, sans-serif;
}
