.discover-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  width: 80%;
  background-color: #1f1f23;
  overflow-y: auto;
  overflow-x: hidden;
  height: 93vh;
}

.search-params-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: flex-start;
  margin: 4rem;
  color: white;
  font-size: 1.5rem;
}

.search-params-container button {
  font-family: 'Kanit', sans-serif;
  margin: .3rem;
  padding: .2rem .6rem;
  background-color: transparent;
  color: white;
  border: 2px solid #414147;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}

.search-params-container button:hover {
  border: 2px solid #8e8e99;
}

.game-results-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
  background-color: #28282c;
  color: white;
}

.game-contents {
  display: flex;
  gap: 1rem;
}

.game-title {
  margin: 0px;
  font-size: 2rem;
}

.game-developer {
  margin: 0px;
  font-size: 1rem;
  color: #676770;
}

.game-thumbnail {
  width: 25%;
  height: auto;
}