.discover-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 80%;
  background-color: #1f1f23;
  overflow: auto;
  height: 100vh;
  scrollbar-gutter: stable;
}

.search-params-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: flex-start;
  gap: 1.5rem;
  margin: 3rem;
  color: white;
  font-size: 1.5rem;
}

.search-params-container button {
  font-family: "Kanit", sans-serif;
  margin: 0.3rem;
  padding: 0.2rem 0.6rem;
  background-color: transparent;
  color: white;
  border: 2px solid #414147;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.search-params-container button:hover {
  border: 2px solid #8e8e99;
}

.game-results-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.discover-game-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
  background-color: #28282c;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.4s;
}

.discover-game-container:hover {
  background-color: #3c3c42;
}

.game-contents {
  display: flex;
  gap: 1rem;
}

.discover-game-title {
  margin: 0px;
  font-size: 30px;
}

.game-developer {
  margin: 0px;
  font-size: 15px;
  color: #676770;
}

.game-thumbnail {
  width: auto;
  height: auto;
  /* object-fit: contain; */
  border-radius: 5px;
}

.discover-game-description {
  margin: 0px;
}

.error-container {
  text-align: center;
  color: rgb(110, 110, 110);
  letter-spacing: 1px;
}
