.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0rem;
  background-color: #151518;
  border: solid 1.5px #3e3e44;
  z-index: 1;
}

.logo {
  color: #dfbb60;
  margin: 0rem 2.5rem;
  font-family: Audiowide;
  font-size: 0.6rem;
  width: 20%;
}

.logo span {
  font-size: 2rem;
}

.categories {
  display: flex;
  gap: 1.5rem;
  align-self: center;
  text-align: center;
  height: 2rem;
  width: 25%;
}

.categories a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #727272;
}

.navbar button {
  padding: 0.4rem 1.5rem;
  margin: 1.5rem;
  text-decoration: none;
  color: #dfbb60;
  background-color: transparent;
  border: 0.1rem solid #dfbb60;
  border-radius: 7px;
  transition: 0.5s;
  font-family: "Kanit", sans-serif;
  cursor: pointer;
  width: 8%;
}

.navbar button:hover {
  background-color: #dfbb60;
  color: #151518;
}

.username {
  color: #dfbb60;
}
