.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0rem;
  background-color: #151518;
  border-bottom: solid .1rem #28282c;
}

.logo {
  color: #dfbb60;
  margin: 0rem 2.5rem;
  font-family: Audiowide;
  font-size: .6rem;
}

.logo span {
  font-size: 2rem;
}

.navbar a {
  padding: .4rem 1.5rem;
  margin: 1.5rem;
  text-decoration: none;
  color: #dfbb60;
  border: .1rem solid #dfbb60;
  border-radius: 10%;
  transition: 0.5s;
}

.navbar a:hover {
  background-color: #dfbb60;
  color: #151518;
}